.btn {
    background-color: green;
    color: white;
    padding: 10px 20px;
}
.btn1 {
    background-color:orchid;
    color: white;
    padding: 10px 20px;
}

.btn2 {
    background-color: pink;
    color: white;
    padding: 10px 20px;
}

